<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head> 
    <title>About</title>
</head>

<body>
    <div id="content">
        <h1>Welcome to about page.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, ut. Libero, corrupti delectus. Magni animi, repellat earum corrupti sunt quisquam modi in, dolores magnam cupiditate aliquam distinctio iure! Sapiente, aspernatur?</p>
    </div>

    <script>
        console.log("About page script.")
    </script>
</body>

</html>