<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
    <style>
        container {
            padding: 20px;
            margin: auto;
            background-color: aqua;
            width: 50%;
        }
    </style>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
        <h1 data-th-text="${name}">Welcome to home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cum eveniet, excepturi consequuntur voluptas cumque eum temporibus! Quae, aperiam vel! Non consequuntur voluptas tenetur impedit perferendis voluptatem quisquam animi delectus?</p>
    </div>
    <script src="index.js"></script>
  </body>
</html>